@import '../../scss/config';

.custom-button {
	background-color: $primary-color;
	color: $secondary-color;
	border: none;
	margin: 2px;
	padding: 0.7rem 2rem;
	display: inline-block;
	cursor: pointer;
	outline: none;

	&-active {
		background-color: $success-color;
	}
}
