@import '../../scss/config';

.alert-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1000;

	.alert-item {
		padding: 0.7rem;
		margin-top: 0.5rem;
		opacity: 0.9;
		background-color: $secondary-color;
		color: $primary-color;
		text-align: center;
		font-size: 1.2rem;

		&-danger {
			background-color: $danger-color;
			color: $secondary-color;
		}

		&-success {
			background-color: $success-color;
			color: $secondary-color;
		}
	}
}
