@import '../../scss/config';

.sort-menu {
	text-align: left;

	p {
		padding: 1rem 0;
		font-size: 1.2rem;
	}

	button {
		margin-top: 1rem;
	}

	.radio-group {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}
