@import 'config';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background: $primary-color;
	color: $primary-color;
}

body,
input,
button {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-family: 'Pacifico', cursive;
}
